# OS
*.DS_Store

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
.factorypath

# Dirty
*~
*.swp
*.class
*.core

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
out/

# Local environment
.env

# Database
db.sqlite

#Plugins
/Plugins/
